/* Base */

*
{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body
{
  background-color: #202020;
  font-family: Inter;
  color: white;
}

.header
{
  position: relative;
  width: 100%;
  height: 70px;
}

.h
{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  border: solid #3a99ff;
  padding-bottom: 0px;
  border-width: 0px 0px 3px;
  width: max-content;
  font-family: Poppins;
}

/*Nav*/
nav
{
  position: fixed;
  width: 100%;
  height: 50px;
  background-color: #1d1d1d;
  border: solid #3a99ff;
  border-width: 0px 0px 2px;
  z-index: 1;
}

#l-nav
{
  position: relative;
  height: 100%;
  width: 100%;
}

#name
{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  width: max-content;
  text-align: center;
  font-size: 27px;
}

#r-nav
{
  display: none;
  height: 100%;
}

/*Banner*/
#banner
{
  background: #202020;
  position: relative;
  width: 100%;
  height: 390px;
}

#t-banner
{
  position: relative;
  width: 100%;
  height: 60%;
}

#me
{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  width: 200PX;
  border-radius: 50%;
  border: 3px solid #3a99ff;
  -webkit-box-shadow: 0px 0px 9px 3px #3a99ff; 
  box-shadow: 0px 0px 9px 3px #3a99ff;
}

#b-banner
{
  position: relative;
  width: 100%;
  height: 40%;
}

#my-des
{
  text-align: center;
  font-size: 30px;
  width: 100%;
  margin-bottom: 15px;
}

#short-des
{
  width: 80%;
  margin-left: 10%;
  margin-bottom: 10px;
}

#cv-soc
{
  position: relative;
  display: flex;
  height: max-content;
  width: max-content;
  margin: auto;
}

.soc
{
  width: 40px;
  margin-right: 10px;
}

#cv
{
  border: 2px solid #3a99ff;
  color: white;
  padding: 5px 15px;
  border-radius: 25px;
  height: 40px;
  font-size: 13px;
  font-weight: bold;
  text-decoration: none;
  padding-top: 11px;
  transition: 0.2s ease-in-out;
}

#cv:hover
{
  background-color: #3a99ff;
}

/* About Me */
#about-me
{
  position: relative;
  width: 100%;
  margin-bottom: 35px;
}

#bout
{
  background-color: #1d1d1d;
  width: 90%;
  height: max-content;
  margin-top: 15px;
  margin-bottom: 60px;
  margin-left: 5%;
  border-radius: 25px;
  -webkit-box-shadow: 0px 0px 9px 3px #3a99ff; 
  box-shadow: 0px 0px 9px 3px #3a99ff;
}

#long-des
{
  padding: 30px 30px;
}

/* My Skills*/
#my-skills
{
  position: relative;
  width: 100%;
}

#skills
{
  width: 100%;
  height: max-content;
  margin-top: 15px;
  margin-bottom: 40px;
  display: grid;
  grid-template-columns: auto;
}

.skill
{
  margin: auto;
  margin-bottom: 50px;
  padding-bottom: 5px;
  width: 275px;
  border-radius: 25px;
  height: fit-content;
  -webkit-box-shadow: 5px 5px 15px 2px #3A99FF; 
  box-shadow: 5px 5px 15px 2px #3A99FF;
  border: 2px solid #3a99ff;
}

.skill-h
{
  text-align: center;
  color: #3a99ff;
  margin-bottom: 15px;
  margin-top: 15px;
  font-family: Poppins;
}

.s
{
  position: relative;
  display: flex;
  width: 70%;
  margin-left: 15%;
  margin-bottom: 20px;
}

.skill-img
{
  width: 40px;
  margin-right: 10px;
}

/* Certificates */
#certificates
{
  position: relative;
  width: 100%;
  height: max-content;
}

#cer
{
  position: relative;
  margin-left: 10%;
  width: 80%;
  height: max-content;
  margin-top: 15px;
  margin-bottom: 60px;
}

.certificate
{
  width: 100%;
  margin-bottom: 10px;
  border: 2px solid #3a99ff;
}

/* Contact */
#contact
{
  position: relative;
  width: 100%;
  height: max-content;
}

#con
{
  position: relative;
  width: 85%;
  height: max-content;
  margin-left: 7.5%;
  margin-top: 15px;
  margin-bottom: 60px;
}

.contact
{
  display: flex;
  position: relative;
  border: 2px solid #3a99ff;
  border-radius: 25px;
  padding: 15px;
  margin-bottom: 30px;
  margin-top: 25px;
}

.con-img
{
  width: 45px;
  margin-top: 5px;
}

.con-info
{
  margin-top: 20px;
  margin-left: 11px;
  color: white;
  font-size: 17px;
}

/* Footer */
footer
{
  position: relative;
  width: 100%;
  height: 50px;
  background-color: #1d1d1d;
  border: solid #3a99ff;
  border-width: 2px 0px 0px;
}

#copyright
{
  text-align: center;
  font-size: 17px;
  margin-top: 15px;
}