*
{
  font-family: "Open Sans", sans-serif;
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

/*Header*/
header
{
  position: fixed;
  width: 100%;
  z-index: 1;
}

nav
{
  display: flex;
  background-color: rgb(32, 32, 32);
  width: 100%;
  height: 4.5rem;
}

#navl
{
  position: relative;
  height: 100%;
  width: 30%;
}

#navr
{
  position: relative;
  padding-top: 9px;
  padding-left: 22rem;
  height: 100%;
  width: 70%;
}

h3
{
  font-size: 2rem;
  color: antiquewhite;
  position: absolute;
  left: 8rem;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.links
{
  position: relative;
  font-size: 2.3rem;
  text-decoration: none;
  padding: 0px 2.5rem;
  color: antiquewhite;
  font-weight: 600;
  transition: 0.3s ease-in-out;
}

.links:hover
{
  color: #007FFF;
}

/*Home*/

#home
{
  display: flex;
  background-color: rgb(30, 30, 30);
  width: 100%;
  height: 60rem;
}

#homel
{
  position: relative;
  width: 50%;
  height: 100%;
}

#con
{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  width: max-content;
}

#me
{
  font-size: 3.5rem;
  color: antiquewhite;
  margin-bottom: 25px;
}

#homer
{
  position: relative;
  width: 50%;
  height: 100%;
}

#photo
{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  width: 55%;
  border-radius: 50%;
  -webkit-box-shadow:0px 0px 50px 30px rgba(0,128,255,0.75);
  -moz-box-shadow: 0px 0px 50px 30px rgba(0,128,255,0.75);
  box-shadow: 0px 0px 50px 30px rgba(0,128,255,0.75);
}

#dwn
{
  text-decoration: none;
  color: antiquewhite;
  border: 3px solid #007FFF;
  padding: 10px 15px;
  border-radius: 25px;
  font-size: 1.7rem;
  transition: 0.3s ease-in-out;
  font-weight: 600;
}

#dwn:hover
{
  background-color: #007FFF;
}

/*About Me*/

#about
{
  position: relative;
  width: 100%;
  height: 55rem;
  background-color: rgb(30, 30, 30);
}

#boutsec
{
  display: flex;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  background-color: rgb(39, 39, 39);
  width: 85rem;
  height: 35rem;
  border-radius: 6%;
}

#boutl
{
  display: block;
  position: relative;
  height: 100%;
  width: 45%;
}

#meagain
{
  position: absolute;
  width: 70%;
  border-radius: 50%;
  -webkit-box-shadow:0px 0px 50px 30px rgba(0,128,255,0.75);
  -moz-box-shadow: 0px 0px 50px 30px rgba(0,128,255,0.75);
  box-shadow: 0px 0px 50px 30px rgba(0,128,255,0.75);
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%)
}

#boutr
{
  position: relative;
  height: 100%;
  width: 55%;
}

#text
{
  position: absolute;
  width: 50rem;
  height: 25rem;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  color: antiquewhite;
  font-size: 1.6rem;
  font-style: italic;
}
