*
{
  font-family: "Open Sans", sans-serif;
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

/*Header*/
header
{
  position: fixed;
  width: 100%;
  z-index: 1;
  border: solid #007FFF;
  border-width: 0px 0px 3px;
}

nav
{
  display: flex;
  background-color: rgb(32, 32, 32);
  width: 100%;
  height: 4.5rem;
}

#navl
{
  position: relative;
  height: 100%;
  width: 30%;
}

#navr
{
  position: relative;
  padding-top: 9px;
  padding-left: 22rem;
  height: 100%;
  width: 70%;
}

h3
{
  font-size: 2rem;
  color: antiquewhite;
  position: absolute;
  left: 8rem;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.links
{
  position: relative;
  font-size: 2.3rem;
  text-decoration: none;
  padding: 0px 2.5rem;
  color: antiquewhite;
  font-weight: 600;
  transition: 0.3s ease-in-out;
}

.links:hover
{
  color: #007FFF;
}

/*Home*/

#home
{
  display: flex;
  background-color: rgb(30, 30, 30);
  width: 100%;
  height: 60rem;
}

#homel
{
  position: relative;
  width: 50%;
  height: 100%;
}

#con
{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  width: max-content;
}

#me
{
  font-size: 3.5rem;
  color: antiquewhite;
  margin-bottom: 25px;
}

#homer
{
  position: relative;
  width: 50%;
  height: 100%;
}

#photo
{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  width: 55%;
  border: solid 5px #007FFF;
  border-radius: 50%;
  -webkit-box-shadow:0px 0px 50px 30px rgba(0,128,255,0.75);
  -moz-box-shadow: 0px 0px 50px 30px rgba(0,128,255,0.75);
  box-shadow: 0px 0px 50px 30px rgba(0,128,255,0.75);
}

#dwn
{
  text-decoration: none;
  color: antiquewhite;
  border: 3px solid #007FFF;
  padding: 10px 15px;
  border-radius: 25px;
  font-size: 1.7rem;
  transition: 0.3s ease-in-out;
  font-weight: 600;
}

#dwn:hover
{
  background-color: #007FFF;
}

#socials
{
  display: flex;
  width: 100%;
}

.social
{
  width: 6rem;
  margin-right: 4rem;
}

.soc
{
  width: 6rem;
}

.social2
{
  width: 6rem;
}

.soc2
{
  width: 6rem;
  border: solid 2px #007FFF;
  border-radius: 50%
}

.soc
{
  border: solid 2px #007FFF;
  border-radius: 50%
}

/*About Me*/

#about
{
  display: block;
  position: relative;
  width: 100%;
  height: 60rem;
  background-color: rgb(30, 30, 30);
}

#bouttitle
{
  position: relative;
  width: 100%;
  height: 5rem;
  padding-top: 20rem;
}

#abouttitle
{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
}

#boutsec
{
  display: flex;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  background-color: rgb(39, 39, 39);
  width: 85rem;
  height: 35rem;
  border-radius: 50px;
}

#boutl
{
  display: block;
  position: relative;
  height: 100%;
  width: 45%;
}

#meagain
{
  position: absolute;
  width: 60%;
  border: solid 5px #007FFF;
  border-radius: 50%;
  -webkit-box-shadow:0px 0px 50px 30px rgba(0,128,255,0.75);
  -moz-box-shadow: 0px 0px 50px 30px rgba(0,128,255,0.75);
  box-shadow: 0px 0px 50px 30px rgba(0,128,255,0.75);
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%)
}

#boutr
{
  position: relative;
  height: 100%;
  width: 60%;
}

#text
{
  position: absolute;
  width: 50rem;
  height: fit-content;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  color: antiquewhite;
  font-size: 1.7rem;
  font-style: italic;
  padding-right: 4rem;
}

/*Skills*/

#skills
{
  display: flex;
  background-color: rgb(30, 30, 30);
  position: relative;
  width: 100%;
  height: 60rem;
  padding-top: 4.5rem;
}

#title
{
  position: relative;
  width: 100%;
  height: 8rem;
}

#skilltitle
{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  color: antiquewhite;
  font-size: 2.5rem;
}

#container
{
  position: absolute;
  left: 50%;
  top: 55%;
  transform: translateX(-50%) translateY(-50%);
  display: grid;
  grid-template-columns: auto auto auto;
  height: 35rem;
  row-gap: 5rem;
  column-gap: 15rem
}

.skill
{
  position: relative;
  width: 15rem;
  height: 8em;
  border: solid 3px #007FFF;
  border-radius: 10px;
  transition: 0.4s ease-in-out;
}

.sname
{
  position: absolute;
  left: 73%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  opacity: 0%;
  font-size: 1.5rem;
  font-weight: 600;
  transition: 0.4s ease-in-out;
}

.logo
{
  position: relative;
  width: 100%;
  height: 100%;
  transition: 0.4s ease-in-out;
}

.name{
  width: 0%;
  transition: 0.4s ease-in-out;
}

.slogo
{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  width: 5rem;
  transition: 0.4s ease-in-out;
}

.skill:hover
{
  background-color: #007FFF;

  .sname
  {
    color: antiquewhite;
    opacity: 100%;
  }

  .slogo
  {
    position: relative;
  }

  .logo
  {
    width: 50%;
  }
  .name
  {
    width: 50%;
    height: 100%;
  }
}

/*Contact Me*/
#contact
{
  background-color: rgb(30, 30, 30);
  position: relative;
  display: flex;
  width: 100%;
  height: 55rem;
  text-align: center;
}

#contactcon
{
  height: 30rem;
  width: 50rem;
  padding-top: 4.5rem;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
}

p
{
  color: antiquewhite;
}

#contacttitle
{
  font-size: 3rem;
  color: antiquewhite;
  margin-bottom: 5rem;
  transition: 0.4s ease-in-out;
}

#contacts
{
  display: flex;
  width: 50rem;
}

.contact
{
  position: relative;
  margin: auto;
  height: 11rem;
  width: 11rem;
  border: solid 2px #007FFF;
  border-radius: 50%;
  transition: 0.4s ease-in-out;
}

.conlogo
{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  width: 10rem;
  transition: 0.4s ease-in-out;
}

.condetail
{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  width: 100%;
  color: antiquewhite;
  font-weight: 500;
  text-decoration: none;
  opacity: 0;
  transition: 0.4s ease-in-out;
}

.contact:hover
{
  background-color: #007FFF;
  border-radius: 15%;
  width: 10rem;
  height: 10rem;

  #contacttitle
  {
    margin-bottom: 1rem;
  }

  .conlogo
  {
    top: 35%;
    width: 5rem;
  }

  .condetail
  {
    top: 80%;
    opacity: 100;
  }
}

.condetail:hover
{
  color: goldenrod;
}
/*Footer*/

footer
{
  position: relative;
  background-color: rgb(32, 32, 32);
  width: 100%;
  height: 4.5rem;
  border: solid #007FFF;
  border-width: 3px 0px 0px;
}

#footer
{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  font-size: 1.3rem;
}
