/* Base */

*
{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body
{
  background-color: #202020;
  font-family: Inter;
  color: white;
  height: 2000px;
}

.header
{
  width: 100%;
  height: 70px;
}

.h
{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
}

/*Nav*/
nav
{
  position: fixed;
  width: 100%;
  height: 50px;
  background-color: #1d1d1d;
  border: solid #3a99ff;
  border-width: 0px 0px 2px;
  z-index: 1;
}

#l-nav
{
  position: relative;
  height: 100%;
  width: 100%;
}

#name
{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  width: max-content;
  text-align: center;
  font-size: 27px;
}

#r-nav
{
  display: none;
  height: 100%;
}

/*Banner*/
#banner
{
  background: #202020;
  position: relative;
  width: 100%;
  height: 390px;
}

#t-banner
{
  position: relative;
  width: 100%;
  height: 60%;
}

#me
{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  width: 200PX;
  border-radius: 50%;
  border: 3px solid #3a99ff;
  -webkit-box-shadow: 0px 0px 9px 3px #3a99ff; 
  box-shadow: 0px 0px 9px 3px #3a99ff;
}

#b-banner
{
  position: relative;
  width: 100%;
  height: 40%;
}

#my-des
{
  text-align: center;
  font-size: 30px;
  width: 100%;
  margin-bottom: 15px;
}

#short-des
{
  width: 80%;
  margin-left: 10%;
  margin-bottom: 10px;
}

#cv-soc
{
  position: relative;
  display: flex;
  height: max-content;
  width: max-content;
  margin: auto;
}

.soc
{
  width: 45px;
  margin-right: 15px;
}

#cv
{
  border: 2px solid #3a99ff;
  color: white;
  padding: 5px 15px;
  border-radius: 25px;
  height: 45px;
  font-size: 13px;
  font-weight: bold;
  text-decoration: none;
  padding-top: 13px;
  transition: 0.2s ease-in-out;
}

#cv:hover
{
  background-color: #3a99ff;
}

/* About Me */
#about-me
{
  position: relative;
  width: 100%;
}